<div>
  <form #willForm="ngForm">
    <h1 *ngIf="this.will.titolo==''" id="loading">Loading Data...</h1>
    <div class="container"  *ngIf="this.will.titolo!=''">
      <h1>Will Detail</h1>
      <img [src]="imgSrc" alt="activity image">

        <div class="elementContainer">
          <div class="element">
            <label for="title">Title</label>
            <div>{{will.titolo}}</div>
          </div>

          <div class="element">
            <label for="sport">Sport</label>
            <div>{{will.sport}}</div>

          </div>

          <div class="element">
            <label for="date">Date</label>
            <div>{{will.data}}</div>

          </div>

          <div class="element">
            <label for="time">Time</label>
            <div>{{will.ora}}</div>

          </div>

          <div class="element">
            <label for="length">Length</label>
            <div>{{will.lunghezza}}</div>
          </div>

          <div class="element">
            <label for="place">Place</label>
            <div>{{will.luogo}}</div>

          </div>

          <div class="element">
            <label for="stages">Stages</label>
            <div>{{will.tappe}}</div>

          </div>

          <div class="element">
            <label for="numb">Number of Partecipants</label>
            <div>{{will.numpart}}</div>
          </div>

          <div class="element">
            <label for="description">Description</label>
            <div>{{will.descrizione}}</div>

        </div>

<!--
        <div>will.titolo"</div>


        <app-form-element [(content)]="will.sport"
        [contentName]="'Sport'"
        [editable]="editable"></app-form-element>

        <app-form-element [(content)]="will.data"
        [contentName]="'Date'"
        [editable]="editable"></app-form-element>

        <app-form-element [(content)]="will.ora"
        [contentName]="'Time'"
        [editable]="editable"></app-form-element>

        <app-form-element [(content)]="will.lunghezza"
        [contentName]="'Length'"
        [editable]="editable"></app-form-element>

        <app-form-element [(content)]="will.luogo"
        [contentName]="'Place'"
        [editable]="editable"></app-form-element>


        <app-form-element [(content)]="will.tappe"
        [contentName]="'Stages'"
        [editable]="editable"></app-form-element>

        <app-form-element [(content)]="will.numpart"
        [contentName]="'Number of Partecipants'"
        [editable]="editable"></app-form-element>

        <app-form-element [(content)]="will.descrizione"
        [contentName]="'Description'"
        [editable]="editable"></app-form-element>


        <div class="element">
          <label for="lenght">Lenght</label>
          <input type="text" name="lenght" required [(ngModel)]="will.lenght"
          class="form-control"  #lenght="ngModel"
          [class.notActive]="!editable">
          <div [hidden]="lenght.valid || lenght.pristine"
              class="alert">
              Please insert a Lenght.
          </div>
        </div>
        [disabled]="!willForm.form.valid || !willForm.dirty"
        -->
      </div>

      <app-message [message]="message" *ngIf="message!==''" (clicked)="message=''"></app-message>

      <div class="buttons">
        <button type="button" *ngIf="!editable" class="goBack" routerLink="/homepage">Go Back</button>
        <button type="button" *ngIf="editable" class="deletebtn"
        (click)="deleteWill()">Delete</button>
        <button  *ngIf="editable"
        (click)="submitChanges()">Save Changes</button>
      </div>
    </div>
  </form><br>
</div>
