<div>
  <form #willForm="ngForm">
    <h1 *ngIf="this.will.titolo == ''" id="loading">Loading Data...</h1>
    <div class="container" *ngIf="this.will.titolo != ''">
      <h1>{{ will.titolo }}</h1>
      <img [src]="'../../assets/SportImages/Icons/' +will.sport+'.svg'" id="activity" alt="activity image" />

      <div class="elementContainer">
        <div class="element">
          <div class="labelContainer">
            <img src="../../assets/Icons/user.svg" alt="User Icon" />
            <label for="date">User</label>
          </div>
          <div class="info">{{ will.nomeproprietario }}</div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img src="../../assets/Icons/date.svg" alt="Date Icon" />
            <label for="date">Date</label>
          </div>
          <div class="info">{{ will.data }}</div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img src="../../assets/Icons/time.svg" alt="Time Icon" />
            <label for="time">Time</label>
          </div>
          <div class="info">{{ will.ora }}</div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img src="../../assets/Icons/length.svg" alt="Length Icon" />
            <label for="length">Length</label>
          </div>

          <div class="info">{{ will.lunghezza }}</div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img src="../../assets/Icons/place.svg" alt="Place Icon" />
            <label for="place">Place</label>
          </div>

          <div class="info">{{ will.luogo }}</div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img src="../../assets/Icons/stages.svg" alt="Stages Icon" />
            <label for="stages">Stages</label>
          </div>

          <div class="info">{{ will.tappe }}</div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img
              src="../../assets/Icons/number.svg"
              alt="Number of Partecipants Icon"
            />
            <label for="numb">Partecipants</label>
          </div>

          <div class="info">{{ will.numpart }}</div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img
              src="../../assets/Icons/description.svg"
              alt="Description Icon"
            />
            <label for="description">Description</label>
          </div>

          <div class="info">{{ will.descrizione }}</div>
        </div>
      </div>

      <app-message
        [message]="message"
        *ngIf="message !== ''"
        (clicked)="message = ''"
      ></app-message><!--Vedi il component Message-->

      <div class="buttons">
        <button
          type="button"
          class="goBack"
          routerLink="/homepage"
        >
          Go Back
        </button>
      </div>
    </div>
  </form>
  <br />
</div>
