.topnav{
  background-color: var(--main-bg-color);
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  user-select: none;
}

.topnav:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.topnav .container{
  float: right;
  display: block;
  margin-left: 15px;
}

a{
  float: left;
  display: block;
  color: var(--main-text-color);
  text-align: center;
  padding: 2em 2em;
  text-decoration: none;
  font-size: 1em;
  font-weight:bold;
}

a:hover{
  background-color: var(--main-bg-color-hover);
}

#logo{
  display: block;
  height: 3em;
  float: left;
  margin: 1em;

}
