#willCard{
  background-color: var(--main-bg-color);
  display: flex;
  margin:1em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  border-radius: 5px;
  width: 15em;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  user-select: none;
}
#willCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: translateY(-5px);
}
#willCard p{
  font-size: 1.5em;
  text-align: center;
}

#nameContainer{
  text-align: center;
}

img{
  width:100%;
  position: relative;
  top:0;
  left:0;

}


.text{
  margin:1em;
  color:var(--main-text-color);
}

#creator{
  font-weight: bold;
  color: var(--main-text-color);

}
