<div class="element">
  <div id="label">{{contentName}}</div>
  <!--
  <div [class.tooltip]="contentName==='Sport' && editable">
    <div [attr.contenteditable]="editable" class="input"
    [class.editable]="editable"
    (input)="onModelChange($event)">{{staticContent}}</div>
    <div  class="tooltiptext"  contenteditable="false">
      <div>We suggest using one of this sports:</div>
      <div *ngFor="let sport of sports">{{sport}}</div>
  </div>
  </div>

-->


  <input class="input" type="text" *ngIf="!(editable
  && (contentName=='Sport') || contentName=='Description')" placeholder="insert {{contentName}}"
  name="{{contentName}}" required [(ngModel)]="content"
  class="form-control"  #Formname="ngModel" class="input" (ngModelChange)="onModelChange($event)"
  [class.notActive]="!editable" [class.editable]="editable" [readonly]="!editable">

  <select name="{{contentName}}" class="input" class="form-control"
    *ngIf="editable && contentName=='Sport'" [(ngModel)]="content"
    (ngModelChange)="onModelChange($event)"
    [class.notActive]="!editable" [class.editable]="editable">
    <option *ngFor="let sport of sports" [value]="sport">{{sport}}</option>
  </select>


  <textarea name="{{contentName}}" id="textarea" cols="30" rows="5" class="input" placeholder="insert {{contentName}}"
  (ngModelChange)="onModelChange($event)"  *ngIf="(contentName=='Description')" [(ngModel)]="content"
  name="{{contentName}}" [class.notActive]="!editable" [readonly]="!editable"
  [class.editable]="editable"
  ></textarea>

  <div class="alert" *ngIf="!valid">Insert a valid {{contentName}}</div>



<!--
    <div [hidden]="Formname.valid || Formname.pristine" *ngIf="!(contentName=='Sport')"
      class="alert">
      Please insert a {{contentName}}.
  </div>
-->

</div>
