
.element{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  min-width: 20em;
  box-sizing: border-box;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#label{
  display:block;
  padding:0.3em;
  margin: auto;
  text-align: center;
  font-weight: bold;
  color:var(--secondary-text-color);
  border-radius: 5px;
  background-color: var(--main-text-color);
}

.element .input{
  overflow: auto;
  resize: none;
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin: auto;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  margin: 0.5em;
}

.alert{
  color: rgba(244, 67, 54,1);
  text-align: center;
  margin: auto;
  padding:0.3em;
}

.notActive{
  pointer-events:none;
  background-color: transparent;
  appearance:none;
}


.editable {
  border-bottom: 2px dotted var(--main-text-color);
  background-color: var(--main-bg-color-hover);
  min-width: 5em;
  border-radius: 5px;
}

 .tooltiptext {
  visibility: hidden;
  background-color: var(--main-bg-color-hover);

  text-align: center;
  border-radius: 6px;
  padding: 1em;
  font-size: 0.8em;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
