<div>
  <form #willForm="ngForm">
    <div class="container">
      <h1>Add Will</h1>
      <img src='../../assets/Images/logo.png' alt="activity image">
      <div class="elementContainer">

        <app-form-element [(content)]="will.titolo"
        [contentName]="'Title'"
        [editable]="true"></app-form-element>

        <app-form-element [(content)]="will.sport"
        [contentName]="'Sport'"
        [editable]="true"></app-form-element>

        <app-form-element [(content)]="will.data"
        [contentName]="'Date'"
        [editable]="true"></app-form-element>

        <app-form-element [(content)]="will.ora"
        [contentName]="'Time'"
        [editable]="true"></app-form-element>

        <app-form-element [(content)]="will.lunghezza"
        [contentName]="'Lenght'"
        [editable]="true"></app-form-element>

        <app-form-element [(content)]="will.luogo"
        [contentName]="'Place'"
        [editable]="true"></app-form-element>

        <app-form-element [(content)]="will.tappe"
        [contentName]="'Stages'"
        [editable]="true"></app-form-element>

        <app-form-element [(content)]="will.numpart"
        [contentName]="'Number of Partecipants'"
        [editable]="true"></app-form-element>

        <app-form-element [(content)]="will.descrizione"
        [contentName]="'Description'"
        [editable]="true"></app-form-element>

      </div>

      <div class="buttons">
        <button type="button" class="cancelbtn" routerLink="/homepage">Cancel</button>
        <button
        (click)="createWill()">Create Will</button>
      </div>
    </div>
  </form><br>
</div>
<app-message [message]="message" *ngIf="message!==''"></app-message>
