footer{
  padding: 5em;
  font-size: 0.8em;
  width: 100%;
  background-color: var(--main-bg-color);
  margin-top: 2em;
  color:var(--secondary-text-color);
  display: flex;
  justify-content: space-evenly;
  position: relative;
  left: 0;
  bottom: 0;
  flex-wrap: wrap;
}

p{
  margin:10px;
  text-align: center;
  float:left;
}
