<div class="container">
  <div>
    <form #willForm="ngForm">
      <h1 *ngIf="toCreate" class="formTitle">Create Will</h1>
      <!--in base alla flag toCreate viene mostrato un titolo diverso -->
      <h1 *ngIf="!toCreate" class="formTitle">Modify Will</h1>
      <img
        [src]="imgSrc"
        alt="activity image"
        id="activity"
        [class.logo]="imgSrc == '../../assets/Images/logo.png'"
      />

      <div class="elementContainer">
        <div class="element">
          <div class="labelContainer">
            <img src="../../assets/Icons/title.svg" alt="Title Icon" />
            <label for="title">Title*</label>
          </div>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="will.titolo"
            name="title"
            #title="ngModel"
          />
          <div
            [hidden]="title.valid || title.pristine"
            class="alert alert-danger"
          >
            <!--Se il campo dati è valido o non è ancora stato toccato questo div viene nascosto-->
            Title is required
          </div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img src="../../assets/Icons/sports.svg" alt="Sport Icon" />
            <label for="sport">Sport*</label>
          </div>
          <select
            class="form-control"
            id="sport"
            required
            [(ngModel)]="will.sport"
            name="sport"
            #sport="ngModel"
            (change)="setImage()"
          >
            <option *ngFor="let pow of sports" [value]="pow">{{ pow }}</option>
          </select>
          <div
            [hidden]="sport.valid || sport.pristine"
            class="alert alert-danger"
          >
            Sport is required
          </div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img src="../../assets/Icons/date.svg" alt="Date Icon" />
            <label for="date">Date*</label>
          </div>
          <input
            type="date"
            class="form-control"
            id="date"
            required
            [(ngModel)]="will.data"
            name="date"
            #date="ngModel"
            min="{{ today }}"
          />
          <div
            [hidden]="date.valid || date.pristine"
            class="alert alert-danger"
          >
            Date is required
          </div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img src="../../assets/Icons/time.svg" alt="Time Icon" />
            <label for="time">Time*</label>
          </div>
          <input
            type="time"
            class="form-control"
            id="time"
            required
            [(ngModel)]="will.ora"
            name="time"
            #time="ngModel"
          />
          <div
            [hidden]="time.valid || time.pristine"
            class="alert alert-danger"
          >
            Time is required
          </div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img src="../../assets/Icons/length.svg" alt="Length Icon" />
            <label for="length">Length*</label>
          </div>

          <input
            type="number"
            class="form-control"
            id="length"
            required
            [(ngModel)]="will.lunghezza"
            name="length"
            #length="ngModel"
            min="0"
          />
          <div
            [hidden]="length.valid || length.pristine"
            class="alert alert-danger"
          >
            Length is required
          </div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img src="../../assets/Icons/place.svg" alt="Place Icon" />
            <label for="place">Place*</label>
          </div>
          <input
            type="text"
            class="form-control"
            id="place"
            required
            [(ngModel)]="will.luogo"
            name="place"
            #place="ngModel"
          />
          <div
            [hidden]="place.valid || place.pristine"
            class="alert alert-danger"
          >
            Place is required
          </div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img src="../../assets/Icons/stages.svg" alt="Stages Icon" />
            <label for="stages">Stages*</label>
          </div>

          <input
            type="text"
            class="form-control"
            id="stages"
            required
            [(ngModel)]="will.tappe"
            name="stages"
            #stages="ngModel"
          />
          <div
            [hidden]="stages.valid || stages.pristine"
            class="alert alert-danger"
          >
            Stages is required
          </div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img
              src="../../assets/Icons/number.svg"
              alt="Number of Partecipants Icon"
            />
            <label for="numb">Partecipants*</label>
          </div>
          <input
            type="number"
            class="form-control"
            id="numb"
            required
            [(ngModel)]="will.numpart"
            name="numb"
            #numb="ngModel"
            min="0"
          />
          <div
            [hidden]="numb.valid || numb.pristine"
            class="alert alert-danger"
          >
            Number of Partecipants is required
          </div>
        </div>

        <div class="element">
          <div class="labelContainer">
            <img
              src="../../assets/Icons/description.svg"
              alt="Description Icon"
            />
            <label for="description">Description*</label>
          </div>
          <textarea
            type="text"
            class="form-control"
            id="name"
            cols="20"
            rows="5"
            required
            [(ngModel)]="will.descrizione"
            name="description"
            #description="ngModel"
          ></textarea>
          <div
            [hidden]="description.valid || description.pristine"
            class="alert alert-danger"
          >
            Description is required
          </div>
        </div>
      </div>

      <app-message
        [message]="message"
        *ngIf="message !== ''"
        (clicked)="message = ''"
      ></app-message>
      <!--Vedi il component Message-->

      <div class="buttons">
        <button type="button" class="goBack" routerLink="/homepage">
          Go Back
        </button>
        <button
          type="button"
          class="deletebtn"
          *ngIf="!toCreate"
          (click)="deleteWill()"
        >
          Delete
        </button>
        <button [disabled]="!willForm.form.valid" (click)="submitChanges()">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
