*{
  margin: 0%;
  border: 0;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

:root{
  --main-bg-color: rgb(48, 48, 48);
  --main-bg-color-hover:rgb(36, 36, 36);
  --main-text-color: rgb(89, 166, 238);
  --secondary-text-color: rgb(226, 226, 226);
}

body{
  background-color: var(--main-bg-color-hover);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



h1,h2,p,label,div, button, a{
  color:var(--secondary-text-color);
}

